<button
  class="bg-green-500 text-white p-2 rounded"
  (click)="showSuccessToast()"
>
  Mostrar toasts de success
</button>

<br />

<button class="bg-red-500 text-white p-2 rounded" (click)="showErrorToast()">
  Mostrar toasts de error
</button>

<br />

<button class="bg-blue-500 text-white p-2 rounded" (click)="showInfoToast()">
  Mostrar toasts de info
</button>

<br />

<button
  class="bg-yellow-500 text-white p-2 rounded"
  (click)="showWarningToast()"
>
  Mostrar toasts de warning
</button>

<br />

<button class="bg-slate-200 p-2 rounded" routerLink="/route">
  Go to route
</button>
